/* ========== 태양광 ========== */
.spp-solar {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* box */
.spp-solar-box1 {
  height: 70%;
}
.spp-solar-box2 {
  height: 20%;
}

/* items */
.spp-solar-deleteBtn {
  width: 4%;
  font-size: 0.5rem;
}
.spp-solar-year {
  width: 8%;
}
.spp-solar-month {
  width: 5%;
}
.spp-solar-generation {
  width: 10%;
}
.spp-solar-smp {
  width: 10%;
}
.spp-solar-calcul {
  width: 19%;
}
.spp-solar-supplyPrice {
  width: 15%;
}
.spp-solar-vat {
  width: 14%;
}
.spp-solar-total {
  width: 15%;
}

/* total-box */
.spp-solar-total-box {
  display: flex;
  flex-direction: column;
}
.spp-solar-total-title-box,
.spp-solar-total-item-box {
  display: flex;
}
.spp-solar-total-title-box span,
.spp-solar-total-item-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.spp-solar-total-title-box {
  background-color: lightyellow;
  font-weight: bold;
}
.spp-solar-total-text {
  width: 6%;
  background-color: lightyellow;
  font-weight: bold;
}
.spp-solar-total-generation {
  width: 12%;
}
.spp-solar-total-smp {
  width: 12%;
}
.spp-solar-total-calcul {
  width: 20%;
}
.spp-solar-total-supplyPrice {
  width: 15%;
}
.spp-solar-total-vat {
  width: 15%;
}
.spp-solar-total-total {
  width: 20%;
}

/* input-box */
.spp-solar-input-box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.spp-solar-input-yearAndMonth {
  width: 25%;
}

.spp-solar-input-generation {
  width: 15%;
}

.spp-solar-input-smp {
  width: 15%;
}

.spp-solar-input-supplyPrice {
  width: 20%;
}

.spp-solar-input-btn {
  width: 15%;
}
