/* ========== 태양광 ========== */
/* items */
.spp-solar-deleteBtn {
  width: 4%;
  font-size: 0.5rem;
}
.spp-solar-year {
  width: 8%;
}
.spp-solar-month {
  width: 5%;
}
.spp-solar-generation {
  width: 10%;
}
.spp-solar-smp {
  width: 10%;
}
.spp-solar-calcul {
  width: 19%;
}
.spp-solar-supplyPrice {
  width: 15%;
}
.spp-solar-vat {
  width: 14%;
}
.spp-solar-total {
  width: 15%;
}

/* total-box */
.spp-solar-total-text {
  width: 6%;
  font-weight: bold;
}
.spp-solar-total-generation {
  width: 12%;
}
.spp-solar-total-smp {
  width: 12%;
}
.spp-solar-total-calcul {
  width: 20%;
}
.spp-solar-total-supplyPrice {
  width: 15%;
}
.spp-solar-total-vat {
  width: 15%;
}
.spp-solar-total-total {
  width: 20%;
}

/* input-box */
.spp-solar-input-date {
  width: 25%;
}
.spp-solar-input-generation {
  width: 15%;
}
.spp-solar-input-smp {
  width: 15%;
}
.spp-solar-input-supplyPrice {
  width: 20%;
}
.spp-solar-input-btn {
  width: 15%;
}

/*  */
