/* ========== 지출 ========== */

.spp-expense {
  width: 20%;
  background-color: lightgray;
  padding: 0.5rem;
}

.spp-expense-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
