/* ========== 지출 ========== */
/* items */
.spp-ex-deleteBtn {
  width: 5%;
  font-size: 0.5rem;
}
.spp-ex-year {
  width: 5%;
}
.spp-ex-month {
  width: 5%;
}
.spp-ex-day {
  width: 5%;
}
.spp-ex-name {
  width: 40%;
}
.spp-ex-price {
  width: 40%;
}
