/* ========== IREC ========== */
.spp-iRec {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* box */
/* 타이틀이 10% */
.spp-iRec-box1 {
  height: 70%;
}
.spp-iRec-box2 {
  height: 20%;
}

/* items */
.spp-iRec-issuance {
  width: 20%;
}
.spp-iRec-fee {
  width: 40%;
}
.spp-iRec-remain {
  width: 40%;
}

/* total-box */
.spp-iRec-total-box {
  display: flex;
  flex-direction: column;
}
.spp-iRec-total-title-box,
.spp-iRec-total-item-box {
  display: flex;
}
.spp-iRec-total-title-box span,
.spp-iRec-total-item-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.spp-iRec-total-title-box {
  background-color: lightyellow;
  font-weight: bold;
}
.spp-iRec-total-text {
  width: 10%;
  background-color: lightyellow;
  font-weight: bold;
}
.spp-iRec-total-issuance {
  width: 20%;
}
.spp-iRec-total-fee {
  width: 35%;
}
.spp-iRec-total-remain {
  width: 35%;
}

/* ========================== */
/* ========== SREC ========== */
.spp-sRec {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* box */
/* 타이틀이 10% */
.spp-sRec-box1 {
  height: 70%;
}
.spp-sRec-box2 {
  height: 20%;
}

/* items */
.spp-sRec-deletedBtn {
  background-color: red;
}
.spp-sRec-year {
  background-color: orange;
}
.spp-sRec-month {
  background-color: yellow;
}
.spp-sRec-day {
  background-color: green;
}
.spp-sRec-sVolume {
  background-color: skyblue;
}
.spp-sRec-sPrice {
  background-color: blue;
}
.spp-sRec-calcul {
  background-color: purple;
}
.spp-sRec-vat {
  background-color: grey;
}
.spp-sRec-total {
  background-color: pink;
}

/* total-box */
.spp-sRec-total-box {
  height: 70%;
  display: flex;
  flex-direction: column;
}

/* input-box */
.spp-sRec-input-box {
  height: 25%;
  display: flex;
  justify-content: space-around;
}
.spp-sRec-input-date {
  width: 30%;
}
.spp-sRec-input-sVolume {
  width: 20%;
}
.spp-sRec-input-sPrice {
  width: 20%;
}
.spp-sRec-input-btn {
  width: 20%;
}
